<main>
  <div style="display:flex;justify-content:center">
    <div class="mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row" style="padding-top: 75px;">
          <router-outlet name="sidemenu"></router-outlet>

          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div *ngIf="router.url.match('/movement/tj$')">
              <!---                                        
                                        <div class="title title-font title-font-bg">
                                            Transformative Justice
<!---                                            <svg-icon src="/assets/images/nouns/tj.svg" [stretch]="true"
                                                [svgStyle]="{'height.px':100,'width.px':100,'padding.px':1,'margin.px':3}">"></svg-icon>

                                        </div> 
                                        --->
              <div class="tj-content" style="padding-top: 70px;">

                Transformative justice imagines <b>a community-based response to sexual and partner violence</b> that
                humanizes, rather than criminalizes, people who cause harm. When possible, transformative justice can
                engage them in a process to take accountability for their actions –to repair existing harm and transform
                underlying conditions and behaviors to prevent future harm. What can those processes look like?

              </div>
            </div>
            <div *ngIf="router.url.match('/movement/principles$')">
              <div class="question-blocks">
                <div class="question-content" id="CarceralTransformative">
                  <!---                                         <div class="title title-font title-font-bg">
                                            Principles: From Carceral to Transformative
                                           <svg-icon src="/assets/images/nouns/principles.svg" [stretch]="true"
                                                [svgStyle]="{'height.px':100,'width.px':100,'padding.px':1,'margin.px':3}"></svg-icon>

                                        </div>
--->
                  <div class="title title-font title-font-bg" style="padding-top: 70px;">
                    From carceral to transformative approaches
                  </div>
                  <div class="question">
                    While the other sections of this site focus mainly on practice, this section offers a more
                    theoretical view on community accountability. Drawing on both interview excerpts and other resources
                    by movement activist-thinkers, I propose several main principles that unite various community
                    accountability & transformative justice responses to violence.
                    Each of the following 5 principles compares a carceral approach to violence with a transformative
                    one. This chart gives a brief summary:
                    <br>
                    <div class="chart-container">
                      <table class="chart">
                        <thead class="chart__head">
                          <th class="chart__col-title"></th>
                          <th class="chart__col-title"><span>Carceral</span></th>
                          <th class="chart__col-title"><span>Approach</span></th>
                          <th class="chart__col-title"><span>Transformative</span></th>
                          <th class="chart__col-title"><span>Approach</span></th>
                        </thead>
                        <tbody class="chart__body">
                          <tr class="chart__row">
                            <td class="chart__cell">Ethos</td>
                            <td class="chart__cell" style="border-right: 12px;
                            border-color: transparent;">Individual</td>
                            <td class="chart__cell">“bad apples” & individual solutions</td>
                            <td class="chart__cell">Collective</td>
                            <td class="chart__cell">collective problem & community solutions</td>
                          </tr>
                          <tr class="chart__row">
                            <td class="chart__cell">People Causing Violence</td>
                            <td class="chart__cell">Criminalization</td>
                            <td class="chart__cell">Good vs. evil, demonize or minimize</td>
                            <td class="chart__cell">Humanization</td>
                            <td class="chart__cell">everyone can cause or experience harm</td>
                          </tr>
                          <tr class="chart__row">
                            <td class="chart__cell">Concept of Responsibility</td>
                            <td class="chart__cell">Blame & Punishment</td>
                            <td class="chart__cell">‘just deserts’ ‘eye for an eye’ debt</td>
                            <td class="chart__cell">Accountability</td>
                            <td class="chart__cell">personal & structural prevention, intervention, reparation,
                              transformation</td>
                          </tr>
                          <tr class="chart__row">
                            <td class="chart__cell">People Experiencing Violence</td>
                            <td class="chart__cell">Security</td>
                            <td class="chart__cell">paternalistic protection</td>
                            <td class="chart__cell">Safety</td>
                            <td class="chart__cell">tools for healing & self determination</td>
                          </tr>
                          <tr class="chart__row">
                            <td class="chart__cell">Response to Violence</td>
                            <td class="chart__cell">Containment & Disposal</td>
                            <td class="chart__cell">"dangerous" people contained or removed</td>
                            <td class="chart__cell">Connection & Community</td>
                            <td class="chart__cell">building relationships and collective power</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    The following video from Dean Spade and Reina Gossett, part of a series called “No One is
                    Disposable: Everyday Practices of Prison Abolition”, provides a great explanation of the differences
                    between a carceral and a transformative approach:
                    <div class="video-frame">
                      <img src="//img.youtube.com/vi/XDQlW1uJ8uQ/0.jpg" alt="What would really make us safe?"
                        class='video-frame__img'>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/XDQlW1uJ8uQ?ecver=1"
                        frameborder="0" allowfullscreen class='video-frame__video'></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <router-outlet></router-outlet>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>