li {
    display: list-item;
 }

 .question-content .title {
    font-size: 2em;
    font-style: italic;
    text-shadow: none;
    color: #e26d5c;
}

.question-content .title-font-bg {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    color: #e26d5c;
    margin-bottom: 21px;
}

.question-content #Beginnings {
    font-size: 30px;
    font-style: normal;
    color: #35887f;
    font-weight: 700;
    display: inline-block;
    border-bottom: 6px solid #bde5a8;
    margin-bottom: 20px;
    padding-bottom: 6px;
}

.question-content .question {
    margin-bottom: 25px;
    color: #124e78;
    font-size: 22px;
}

.question-content a {
    color: #e26d5c;
}

.question-content p {
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 1.5;
    font-family: 'Overpass', sans-serif;
}

.question-content .container {
    flex-direction: column;
}

  