<div *ngIf="router.url == '/stories/support/a'">
    <div *ngFor="let question of supportSection_1">
        <div class="question-content" style="padding-top: 75px;">
            <div class="title title-font title-font-bg"
                style="border-bottom: 4px solid #bde5a8;color: #35887f; font-size: 30px;">
                {{ question.title }}
            </div>
        </div>
        <div class="question-quote-container"
            style="margin-top: -12px; margin-left: 0px; margin-right: 0px;">
            <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                    <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                        <div
                            style="display:flex;width:40%; height: 99%; justify-content:flex-start;padding-right:10px;">
                            <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                <img style="width:114px;height:113px; overflow:hidden"
                                    src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                    <div class="hvrbox-text">
                                        {{ getPerson(quote.personId)?.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hvrbox-tagline-text"
                            style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                            <div class="question-quote-container-innermost" style="font-size: 16px;">
                                {{ quote.tagline }}
                            </div>
                        </div>
                        <img src="assets/images/expand.png" style="padding-right: 12px;">
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
    </div>
</div>

<div *ngIf="router.url == '/stories/support/b'">
    <div *ngFor="let question of supportSection_2">
        <div class="question-content" style="padding-top: 75px;">
            <div class="title title-font title-font-bg"
                style="border-bottom: 4px solid #bde5a8;color: #35887f; font-size: 30px;">
                {{ question.title }}
            </div>
        </div>
        <div class="question-quote-container"
            style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
            <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                    <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                        <div
                            style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
                            <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                <img style="width:112px;height:114px; overflow:hidden"
                                    src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                    <div class="hvrbox-text">
                                        {{ getPerson(quote.personId)?.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hvrbox-tagline-text"
                            style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                            <div class="question-quote-container-innermost" style="font-size: 16px;">
                                {{ quote.tagline }}
                            </div>
                        </div>
                        <img src="assets/images/expand.png" style="padding-right: 12px;">
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
    </div>
</div>

<div *ngIf="router.url == '/stories/support/c'">
    <div *ngFor="let question of supportSection_3">
        <div class="question-content" style="padding-top: 75px;">
            <div class="title title-font title-font-bg"
                style="border-bottom: 4px solid #bde5a8;color: #35887f; font-size: 30px;">
                {{ question.title }}
            </div>
        </div>
        <div class="question-quote-container"
            style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
            <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                    <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                        <div
                            style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
                            <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                <img style="width:112px;height:114px; overflow:hidden"
                                    src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                    <div class="hvrbox-text">
                                        {{ getPerson(quote.personId)?.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hvrbox-tagline-text"
                            style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                            <div class="question-quote-container-innermost" style="font-size: 16px;">
                                {{ quote.tagline }}
                            </div>
                        </div>
                        <img src="assets/images/expand.png" style="padding-right: 12px;">
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
    </div>
</div>

<div *ngIf="router.url == '/stories/accountability/a'">

    <div style="padding-top: 74px;">
        <div *ngFor="let question of accountabilitySection_1">
            <div class="question-content accardion-v2">
                <div class="title title-font">
                    {{ question.title }}
                </div>
            </div>
            <div class="question-quote-container"
                style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
                <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                    <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                        <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                            <div
                                style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
                                <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                    <img style="width:112px;height:114px; overflow:hidden"
                                        src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                    <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                        <div class="hvrbox-text">
                                            {{ getPerson(quote.personId)?.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hvrbox-tagline-text"
                                style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                                <div class="question-quote-container-innermost" style="font-size: 16px;">
                                    {{ quote.tagline }}
                                </div>
                            </div>
                            <img src="assets/images/expand.png" style="padding-right: 12px;">
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
            </div>
        </div>
    </div>


</div>

<div *ngIf="router.url == '/stories/accountability/b'">

    <div style="padding-top: 74px;">
        <div *ngFor="let question of accountabilitySection_2">
            <div class="question-content accardion-v2">
                <div class="title title-font">
                    {{ question.title }}
                </div>
            </div>
            <div class="question-quote-container"
                style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
                <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                    <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                        <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                            <div
                                style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
                                <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                    <img style="width:112px;height:114px; overflow:hidden"
                                        src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                    <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                        <div class="hvrbox-text">
                                            {{ getPerson(quote.personId)?.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hvrbox-tagline-text"
                                style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                                <div class="question-quote-container-innermost" style="font-size: 16px;">
                                    {{ quote.tagline }}
                                </div>
                            </div>
                            <img src="assets/images/expand.png" style="padding-right: 12px;">
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
            </div>
        </div>
    </div>


</div>

<div *ngIf="router.url == '/stories/accountability/c'">

    <div style="padding-top: 74px;">
        <div *ngFor="let question of accountabilitySection_3">
            <div class="question-content accardion-v2">
                <div class="title title-font">
                    {{ question.title }}
                </div>
            </div>
            <div class="question-quote-container"
                style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
                <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                    <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                        <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                            <div
                                style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
                                <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                    <img style="width:112px;height:114px; overflow:hidden"
                                        src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                    <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                        <div class="hvrbox-text">
                                            {{ getPerson(quote.personId)?.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hvrbox-tagline-text"
                                style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                                <div class="question-quote-container-innermost" style="font-size: 16px;">
                                    {{ quote.tagline }}
                                </div>
                            </div>
                            <img src="assets/images/expand.png" style="padding-right: 12px;">
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
            </div>
        </div>
    </div>


</div>

<div *ngIf="router.url == '/stories/community/a'">
    <div *ngFor="let question of communitySection_1">
        <div class="question-content" style="padding-top: 75px;">
            <div class="title title-font title-font-bg"
                style="border-bottom: 4px solid #bde5a8;color: #35887f; font-size: 30px;">
                {{ question.title }}
            </div>
        </div>
        <div class="question-quote-container"
            style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
            <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                    <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                        <div
                            style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
                            <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                <img style="width:112px;height:114px; overflow:hidden"
                                    src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                    <div class="hvrbox-text">
                                        {{ getPerson(quote.personId)?.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hvrbox-tagline-text"
                            style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                            <div class="question-quote-container-innermost" style="font-size: 16px;">
                                {{ quote.tagline }}
                            </div>
                        </div>
                        <img src="assets/images/expand.png" style="padding-right: 12px;">
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
    </div>
</div>

<div *ngIf="router.url == '/stories/community/b'">
    <div *ngFor="let question of communitySection_2">
        <div class="question-content" style="padding-top: 75px;">
            <div class="title title-font title-font-bg"
                style="border-bottom: 4px solid #bde5a8;color: #35887f; font-size: 30px;">
                {{ question.title }}
            </div>
        </div>
        <div class="question-quote-container"
            style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
            <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
                <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
                    <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
                        <div
                            style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
                            <div class="hvrbox-clear" style="height: 114px; width: 114px;">
                                <img style="width:112px;height:114px; overflow:hidden"
                                    src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
                                <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                                    <div class="hvrbox-text">
                                        {{ getPerson(quote.personId)?.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hvrbox-tagline-text"
                            style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
                            <div class="question-quote-container-innermost" style="font-size: 16px;">
                                {{ quote.tagline }}
                            </div>
                        </div>
                        <img src="assets/images/expand.png" style="padding-right: 12px;">
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
    </div>
</div>

<div *ngIf="router.url == '/stories/community/c'" >
    <div *ngFor="let question of communitySection_3">
  <div class="question-content" style="padding-top: 75px;">
    <div class="title title-font title-font-bg" style="border-bottom: 4px solid #bde5a8;color: #35887f; font-size: 30px;">
      {{ question.title }}
    </div>
  </div>
  <div class="question-quote-container" style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
    <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
      <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
        <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
          <div style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
            <div class="hvrbox-clear" style="height: 114px; width: 114px;">
              <img style="width:112px;height:114px; overflow:hidden"
                src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
              <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                <div class="hvrbox-text">
                  {{ getPerson(quote.personId)?.name}}
                </div>
              </div>
            </div>
          </div>
          <div class="hvrbox-tagline-text" style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
            <div class="question-quote-container-innermost" style="font-size: 16px;">
              {{ quote.tagline }}
            </div>
          </div>
          <img src="assets/images/expand.png" style="padding-right: 12px;">
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
</div>

<div *ngIf="router.url == '/stories/community/d'" >
    <div *ngFor="let question of communitySection_4">
  <div class="question-content" style="padding-top: 75px;">
    <div class="title title-font title-font-bg" style="border-bottom: 4px solid #bde5a8;color: #35887f; font-size: 30px;">
      {{ question.title }}
    </div>
  </div>
  <div class="question-quote-container" style="padding:4%; margin-top: -12px; margin-left: 0px; margin-right: 0px;">
    <mat-grid-list [cols]="nbCols" [rowHeight]="116" gutterSize="10px" (window:resize)="onResize($event)">
      <div *ngFor="let quote of question.quotes" (click)="openQuoteModal(content, quote)">
        <mat-grid-tile class="hvrbox-tagline" style="border: .5px solid black;">
          <div style="display:flex;width:40%; height: 100%; justify-content:flex-start;padding-right:10px;">
            <div class="hvrbox-clear" style="height: 114px; width: 114px;">
              <img style="width:112px;height:114px; overflow:hidden"
                src="assets/images/persons/thumbnail/{{ getPerson(quote.personId)?.image}}">
              <div class="hvrbox-layer_top" style="height: 114px; width: 114px;">
                <div class="hvrbox-text">
                  {{ getPerson(quote.personId)?.name}}
                </div>
              </div>
            </div>
          </div>
          <div class="hvrbox-tagline-text" style="padding-left: 12px; display:flex; width:60%; justify-content:flex-center;">
            <div class="question-quote-container-innermost" style="font-size: 16px;">
              {{ quote.tagline }}
            </div>
          </div>
          <img src="assets/images/expand.png" style="padding-right: 12px;">
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
</div>


<ng-template #rollover let-c="close">
    <div class="modal-header">
        <h4 class="modal-title title-font">{{ selectedRollover.title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p [innerHTML]="selectedRollover.quote"></p>
    </div>
</ng-template>

<ng-template #content let-c="close">
    <div class="modal-header">
        <h4>
            <a href="{{ getPerson(selectedQuote.personId).link }}"
                *ngIf='getPerson(selectedQuote.personId).link'>
                {{ getPerson(selectedQuote.personId)?.name }}
            </a>
            <span *ngIf='!getPerson(selectedQuote.personId).link'>
                {{ getPerson(selectedQuote.personId)?.name }} : {{ selectedQuote.tagline }}
            </span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="person-photo-container"
            [class.person-photo-container_double]='selectedQuote.photo && selectedQuote.photo2'>
        </div>
        <p [innerHTML]="selectedQuote.quote"></p>
    </div>
</ng-template>