<main>           
                <div class="mx-auto col-xs-11.5 col-sm-11.5 col-md-11.5 col-lg-11.5">
                    <div class="mx-auto col-xs-11.5 col-sm-11.5 col-md-11.5 col-lg-11.5">
                        <div class="jumbotron">
                            <h1 *ngIf="router.url.match('/stories/support')">
                                Support for People Experiencing Violence
                            </h1> 
                            <h1 *ngIf="router.url.match('/stories/accountability')">
                                Accountability for People Causing Violence
                            </h1>
                            <h1 *ngIf="router.url.match('/stories/community')">
                                Community Engagement Against Violence
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
                            <ol class="breadcrumb">                                
                                <li class="breadcrumb-item"*ngIf="router.url.match('/stories/support')">
                                    Support
                                    <svg-icon src="/assets/images/nouns/support.svg" [stretch]="true"
                                        [svgStyle]="{'height.px':50,'width.px':50,'padding.px':1,'margin.px':3}"></svg-icon>
                                </li>
                                <li class="breadcrumb-item"*ngIf="router.url.match('/stories/accountability')">
                                    Accountability
                                <svg-icon src="/assets/images/nouns/accountability.svg" [stretch]="true"
                                        [svgStyle]="{'height.px':50,'width.px':50,'padding.px':1,'margin.px':3}"></svg-icon>
                                </li>
                                <li class="breadcrumb-item"*ngIf="router.url.match('/stories/community')">Community
                                <svg-icon src="/assets/images/nouns/community.svg" [stretch]="true"
                                        [svgStyle]="{'height.px':50,'width.px':50,'padding.px':1,'margin.px':3}"></svg-icon>
                                </li>
                            </ol>
                            
                            <router-outlet name="sidemenu"></router-outlet>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
                            <div *ngIf="router.url.match('/stories/support$')">
                                <div class="question-content">
                                    <div class="question">
                                        <p>
                                            Transformative  justice  imagines  a  community-based  response  to  sexual  and  partner  violence  that  supports  survivor  wellness  and  empowerment.  Rather  than  treating  people  as  victims  in  need  of  external  protection  via  walls  and  weapons,  collective  support  empowers  survivors  to  exercise  their  agency. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="router.url.match('/stories/accountability$')">
                                <div class="question-content">
                                    <div class="question">
                                        <p>
                                            Transformative  justice  imagines  a  community-based  response  to  sexual  and  partner  violence  that  humanizes,  rather  than  criminalizes,  people  who  cause  harm.  When  possible,  transformative  justice  can  engage  them  in  a  process  to  take  accountability  for  their  actions  –to  repair  existing  harm  and  transform  underlying  conditions  and  behaviors  to  prevent  future  harm.  What  can  those  processes  look  like? 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="router.url.match('/stories/community$')">
                                <div class="question-content">
                                   <div class="question">
                                        <p>
                                            Transformative  justice  imagines  a  response  to  sexual  and  partner  violence  that  is  community  centered  and  controlled.  What  are  different  ways  to  engage  communities,  rather  than  the  state  or  non-profits,  to  respond  to  violence?
                                        </p>
                                    </div>
                                </div>
                            </div>                      
                        <router-outlet></router-outlet>
                    </div>
                </div>  
         </div>
</main>