<main>
    <div class="navbar-bottom-space" *ngIf="router.url != '/home' && router.url != '/'">
        <nav class="navbar fixed-top navbar-expand-lg bg-light desktop-version">
            <logo style="margin-right:2%;">
                <a href="#">
                    <img src="assets/images/logo.png" height="50px" alt class="d-inline-block align-center">
                </a>
                <a class="navbar-brand logo-name" href="#" style="color: #000000;">
                    What <i>Really</i> <br>Makes Us Safe?
                </a>
            </logo>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="color: #000000;">
                <i class="fa fa-bars"></i>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <div *ngIf="router.url != '/dehome'">
                    <div class="nav-menu">
                        <ul class="navbar-nav" align="center">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/about.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true" routerLink="/about">
                                    About
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/movement.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    The Movement
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" routerLink="movement/tj/a">Transformative Justice</a>
                                    <a class="dropdown-item" routerLink="movement/principles">Principles</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/people.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Collaborators
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" routerLink="people/a">Bios</a>
                                    <a class="dropdown-item" routerLink="people/c">Organizations</a>
                                    <a class="dropdown-item" routerLink="people/b">Histories</a>

                                    <a class="dropdown-item" routerLink="people/d">Challenges</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/stories.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Interviews
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" routerLink="stories/support">Support</a>
                                    <a class="dropdown-item" routerLink="stories/accountability">Accountability</a>
                                    <a class="dropdown-item" routerLink="stories/community">Community</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div style="margin-left: auto; margin-right:0;">
                    <ul class="navbar-nav dropdown social-media">


                        <li class="nav-link">
                            <a href="https://www.facebook.com/transformativejusticekollektiv/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="https://twitter.com/WhatMakesUsSafe" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.instagram.com/whatreallymakesussafe/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="mailto:whatreallymakesussafe@riseup.net">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.youtube.com/channel/UC-6u-6bXKoMKvlFfVBZZHkA" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>

        <nav class="navbar fixed-top navbar-expand-lg bg-light mobile-version">
            <logo style="margin-right:2%;">
                <a href="#">
                    <img src="assets/images/logo.png" height="50" alt class="d-inline-block align-center">
                </a>
                <a href="#" style="color: #000000;">
                    What <i>Really</i> <br>Makes Us Safe?
                </a>
            </logo>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="color: #000000;">
                <i class="fa fa-bars"></i>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <div *ngIf="router.url != '/dehome'">
                    <div class="nav-menu">
                        <ul class="navbar-nav" align="center">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/about.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true" routerLink="/about">
                                    About
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/movement.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" href="#">
                                    The Movement
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" routerLink="movement/tj/a">Transformative Justice</a>
                                    <a class="dropdown-item" routerLink="movement/principles">Principles</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/people.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" href="#">
                                    Collaborators
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" routerLink="people/a">Bios</a>
                                    <a class="dropdown-item" routerLink="people/c">Organizations</a>
                                    <a class="dropdown-item" routerLink="people/b">Histories</a>

                                    <a class="dropdown-item" routerLink="people/d">Challenges</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/stories.*'))}}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" href="#">
                                    Interviews
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" routerLink="stories/support">Support</a>
                                    <a class="dropdown-item" routerLink="stories/accountability">Accountability</a>
                                    <a class="dropdown-item" routerLink="stories/community">Community</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div style="margin-left: auto; margin-right:0;">
                    <ul class="navbar-nav dropdown social-media">


                        <li class="nav-link">
                            <a href="https://www.facebook.com/transformativejusticekollektiv/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="https://twitter.com/WhatMakesUsSafe" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.instagram.com/whatreallymakesussafe/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="mailto:whatreallymakesussafe@riseup.net">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.youtube.com/channel/UC-6u-6bXKoMKvlFfVBZZHkA" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>
    </div>

    <div *ngIf="router.url == '/home' || router.url == '/' ">
        <div class="desktop-version">
            <div class="choose-country">
                <div *ngIf="router.url == '/home' || router.url == '/' ">
                    <h4 style="font-family: 'Overpass', sans-serif;">Select a region</h4>
                    <a routerLink="about"> <button class="btn btn-homepage"> North America </button></a>
                    <a href="http://www.whatreallymakesussafe.com/de/"> <button
                            class="btn btn-homepage">Germany</button></a>
                            <a routerLink="trans"> <button class="btn btn-homepage"> Transnational </button></a>
                </div>
            </div>
            <div class="content-wrapper" style="padding-top: 0;">
                <div class="home-content">
                    <h2>What <i>Really</i> Makes Us Safe?</h2>
                    <p>Transnational Transformative Justice Project</p>
                </div>
                <div class="kit-image">
                    <img src="assets/images/kit.png">
                </div>
            </div>
            <div class="copyright">
                <div class="content-wrapper" style="text-align: center;">
                    <span class="copy">©</span>
                    2020 WRMUS
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-version">
        <div *ngIf="router.url == '/home' ">
            <div class="choose-country">
                <div *ngIf="router.url == '/home' || router.url == '/' ">
                    <h4>Select a region</h4>
                    <a routerLink="about"> <button class="btn btn-homepage"> North America </button></a>
                    <a href="http://www.whatreallymakesussafe.com/de/"> <button
                            class="btn btn-homepage">Germany</button></a>
                    <a routerLink="trans"> <button class="btn btn-homepage"> Transnational </button></a>
                </div>
            </div>
            <div class="content-wrapper" style="padding-top: 0;">
                <div class="home-content">
                    <h2>What <i>Really</i> Makes Us Safe?</h2>
                    <p>Transnational Transformative Justice Project</p>
                </div>
                <div class="kit-image">
                    <img src="assets/images/kit.png">
                </div>
            </div>
            <div class="copyright">
                <div class="content-wrapper" style="text-align: center;">
                    <span class="copy">©</span>
                    2020 WRMUS
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="router.url != '/home' && router.url != '/'">
        <router-outlet></router-outlet>
    </div>
    <!-- <div *ngIf="router.url != '/home' && router.url != '/'" class="mobile-version"
        style="float: right;padding-top: 101px">
        <a href="https://www.facebook.com/transformativejusticekollektiv/" target="_blank" style="padding-left:8px">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/WhatMakesUsSafe" target="_blank" style="padding-left:8px">
            <i class="fa fa-twitter"></i>
        </a>

        <a href="https://www.instagram.com/whatreallymakesussafe/" target="_blank" style="padding-left:8px">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="mailto:whatreallymakesussafe@riseup.net" style="padding-left:8px">
            <i class="fa fa-envelope-o"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC-6u-6bXKoMKvlFfVBZZHkA" target="_blank"
            style="padding-left:8px;padding-right: 8px">
            <i class="fa fa-youtube"></i>
        </a>
    </div> -->
</main>