<main>
 
    <div class = "navbar-margin" style="padding-bottom:7%" align="center" *ngIf="router.url != '/home' && router.url != '/'">
<!---        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> --->
            <nav class="navbar fixed-top navbar-expand-lg bg-light"> 
        <!---    <div class="container">    --->
                <logo style="margin-right:2%;">
                    <img src="assets/images/logo.png" height="80" class="d-inline-block align-top" alt="">
                    <a class="navbar-brand logo-name" href="#" style="color: black;font-size: 1.1em;">
                        <font face="roman">What <i>really</i> makes us safe?</font>
                    </a>
                </logo>
                <button class="navbar-toggler" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    
                        <span class="navbar-toggler-icon">
                        </span>
                
                </button>     
                
                <div class="navbar-collapse collapse" id="navbarSupportedContent">                    
                    <div  *ngIf="router.url != '/dehome'">
                        <ul class="navbar-nav" align="center" >                                                
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/about.*'))}}" 
                                       id="navbarDropdownMenuLink1" 
                                       data-toggle="dropdown" 
                                       aria-haspopup="true" 
                                       aria-expanded="true">
                                        Project
                                    </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a  class="dropdown-item" routerLink="about">Research</a>
                                <a  class="dropdown-item" routerLink="about/a">Website</a>
                                </div>
                            </li>
                        
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/movement.*'))}}" 
                                   id="navbarDropdownMenuLink" 
                                   data-toggle="dropdown" 
                                   aria-haspopup="true" 
                                   aria-expanded="false">
                                    Movement
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" routerLink="movement/tj">Transformative Justice</a>
                                <a class="dropdown-item" routerLink="movement/principles">Principles</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/people.*'))}}" 
                                   id="navbarDropdownMenuLink" 
                                   data-toggle="dropdown" 
                                   aria-haspopup="true" 
                                   aria-expanded="false">
                                    Collaborators
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                   
                                    <a class="dropdown-item" routerLink="people/a">Bios</a>   
                                    <a class="dropdown-item" routerLink="people/c">Organizations</a>
                                    <a class="dropdown-item" routerLink="people/b">Histories</a>
                                    
                                    <a class="dropdown-item" routerLink="people/d">Challenges</a>           
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{getActiveClass( router.url.match('/stories.*'))}}" 
                                   id="navbarDropdownMenuLink" 
                                   data-toggle="dropdown" 
                                   aria-haspopup="true" 
                                   aria-expanded="false">
                                    Stories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" routerLink="stories/support">Support</a>
                                    <a class="dropdown-item" routerLink="stories/accountability">Accountability</a>
                                    <a class="dropdown-item" routerLink="stories/community">Community</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-left: auto; margin-right:0;">
                        <ul class="navbar-nav" >
                            <li class="nav-link">
                                <a  href="https://www.facebook.com/transformativejusticekollektiv/" target="_blank" >
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li> 
                            <li class="nav-link">
                                <a  href="https://twitter.com/WhatMakesUsSafe" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a  href="https://www.instagram.com/whatreallymakesussafe/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a  href="mailto:whatreallymakesussafe@riseup.net">
                                    <i class="fa fa-envelope-o"></i>
                                </a>
                            </li>                    
                            <li class="nav-link">
                                <a  href="https://www.youtube.com/channel/UC-6u-6bXKoMKvlFfVBZZHkA" target="_blank">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
<!---                            <li class="nav-link"><a href="#"><i class="fa"></i></a></li>  --->                         
                        </ul> 
                    </div>
            
                </div>
     <!---       </div>  --->
        </nav>
    </div>
    <div class = "try" align="center">
        <div *ngIf="router.url == '/home' || router.url == '/' || router.url == '/nahome'">
            <div>
                  
                <div *ngIf="router.url == '/home' || router.url == '/' ">            
                        <a routerLink="nahome"> <button class="btn" style="border:solid 0px; background:transparent;font-weight:1000;font-size:3em">North America</button></a>
                        <span style="padding-left:50%"></span>
                        <a routerLink="dehome"> <button class="btn" style="border:solid 0px; background:transparent;font-weight:1000;font-size:3em"
                                                        >Germany</button></a>                           
                </div>
                <div class = "top" style="background-image: url('assets/images/box.png');">
                    <img src="assets/images/box.png" class="img-responsive" style="width:53%;opacity: 0;">
                </div>
	            <div *ngIf="router.url == '/nahome' ">
                    <p style="background: transparent;font-weight:1000;font-size:3em;">
                        <font face="bemio">Participatory Research with Transformative Justice Activists</font>
                    </p>
                </div>
            </div>
        </div>  
    </div>
    <div *ngIf="router.url != '/home' && router.url != '/'">
        <router-outlet></router-outlet>
    </div>
</main>