.img-responsive{
   width:53%;
   opacity: 0; 
}

.btn-homepage{
    border:solid 0px; 
    background:transparent;
    font-weight:1000;
    font-size:3em;    
}

.backgroung-homepage {
    width: 100%;
    height: 90%;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;             
}

.title-paragraph{
    background: transparent;
    font-weight:1000;
    font-size:  3em;
}
.title-paragraph-mobile{
    background: transparent;
    font-weight:400;
    font-size:  2.3em;
}

.active{
 border-bottom-color: black;
    opacity: 0.5;
    border-style: solid;
    border-width: 0px 0px 1px 0px;     
    }


@font-face {font-family: "bemio-trial";
    src: url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.svg#Bemio") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Bemio";
    src: url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.eot");
    src: url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.woff2") format("woff2"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.woff") format("woff"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.ttf") format("truetype"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.svg#Bemio") format("svg");
}