@media (max-width: 1250px) { 
    .choose-country a .btn-homepage, .choose-country h4 {
        font-size: 18px;
    }

    .home-content {
        padding-top: 80px;
    }

    .home-content h2 {
        font-size: 38px;
    }

    .home-content p {
        font-size: 20px;
    }

    .copyright {        
        padding: 10px 0 40px;
        text-align: center;
    }
}

    @media (max-width: 1250px) { 
        .desktop-version{    
            display: none; 
        } 
    }
    
    @media (min-width: 1251px) { 
        .mobile-version{    
            display: none; 
        } 
    }
