html {
    height: 100%;
}

body {
    font-family: 'Overpass', sans-serif;
}

p {
    font-family: 'PT serif', serif;
    margin-top: 0;
    margin-bottom: 1rem;
}

.img-responsive {
   width:53%;
   opacity: 0; 
}

.copyright {
    text-align: center;
}

.choose-country a .btn-homepage {
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #e26d5c;
    padding: 0 43px;
    line-height: 1.5;
    height: auto;
}

.btn-homepage{
    border:solid 0px; 
    background:transparent;
    font-weight:1000;
    font-size:3em;    
}

.desktop-version {
    position: fixed;
    bottom: 0em;
    overflow: auto;
}

.choose-country h4 {
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    color: #35887f;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px;
}

.choose-country {
    padding: 45px 0;
    text-align: center;
    border-bottom: 2px solid #35887f;
    box-shadow: 0 -9px 20px #35887f;
}

.home-content {
    position: relative;
    padding-top: 80px;
} 

.home-content h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 46px;
    display: inline-block;
    color: #35887f;
    border-bottom: 4pt solid #bde4a8;
}

.home-content p {
    font-size: 28px;
    color: #124e78;
}

.kit-image img {
    width: 100%;
    height: auto;
}

.content-wrapper {
    width: 100%;
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    float: none;
}

.title-paragraph{
    background: transparent;
    font-weight:1000;
    font-size:  3em;
}
.title-paragraph-mobile{
    background: transparent;
    font-weight:400;
    font-size:  2.3em;
}

.active{
 border-bottom-color: black;
    opacity: 0.5;
    border-style: solid;
    border-width: 0px 0px 1px 0px;     
    }


@font-face {font-family: "bemio-trial";
    src: url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5db8bbfb6a548babd3c88584bc301dd2.svg#Bemio") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Bemio";
    src: url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.eot");
    src: url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.woff2") format("woff2"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.woff") format("woff"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.ttf") format("truetype"),
         url("/assets/fonts/5db8bbfb6a548babd3c88584bc301dd2.svg#Bemio") format("svg");
}

/* overpass-regular - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/overpass-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Overpass Regular'), local('Overpass-Regular'),
         url('/assets/fonts/overpass-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/overpass-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/overpass-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/overpass-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/overpass-v4-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
  }
  /* overpass-italic - latin */
  @font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/overpass-v4-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Overpass Italic'), local('Overpass-Italic'),
         url('/assets/fonts/overpass-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/overpass-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/overpass-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/overpass-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/overpass-v4-latin-italic.svg#Overpass') format('svg'); /* Legacy iOS */
  }

