@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
@media (min-width: 78px) {
    .navbar-margin{
        padding-bottom:15%;
    }
}
@media (max-width: 530px) { 
    .logo-name { 
        display: none; 
    } 
}

@media (max-width: 1250px) { 
    .desktop-version{    
        display: none; 
    } 
    .social-media{
        display: none
    }
}

/* @media (min-width: 1251px) { 
    .mobile-version{    
        display: none; 
    } 
} */


@media (max-width: 600px) { 
    .desktop-version-sidemenu{    
        display: none; 
    } 
}

@media (min-width: 600px) { 
    .mobile-version-sidemenu{    
        display: none; 
    } 
}

@media (min-width: 992px) {
.navbar.navbar-expand-lg .navbar-collapse {
    display: inline-block!important;
}
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
}

@media (min-width: 992px) {
.navbar .nav-menu {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    padding-left: 2em;
    margin-right: 8%;
    vertical-align: middle;
}
}

@media (min-width: 992px) {
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}

@media (min-width: 992px) {
.navbar ul.navbar-nav {
    justify-content: flex-end;
}
}