@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
@media (min-width: 78px) {
    .navbar-margin{
        padding-bottom:15%;
    }
}
@media (max-width: 1230px) { 
    .logo-name { 
        display: none; 
    } 
}