.homepage-content, .question-content {
  /*margin: 0 1.25%;*/
}

/* .question-content > .title {
  font-size: 2em;
  margin: 1% 0;
} */

.unitalic {
  font-style: normal !important;
}


.homepage-content, .question-content {
  /*margin: 0 1.25%;*/
}

.question-decor{
  color: #e8b314;
  font-style: normal;
}


/* .question-content > .about-title {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1% 0;
} */


.question-content > .title-font-bg{
  font-size: 2.8em;
}

.question-content > .title-font-name{
   font-size: 1.5em;
  font-style: italic;
  text-shadow: none;
  color: #709a98;
  margin: 1% 0;
}

.question-quote-container-innermost{
    font-size:20px;
    padding-right: 12px;
}

.right {    
    float: right;    
}

.bio-flex-box{
  display: -webkit-flex; /* Safari */
  flex-direction: column;
}