<main> 
        <div style="display:flex;justify-content:center">
            <div class="mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="mx-auto col-xs-12 col-sm-12 col-md-10 col-lg-10">
                     <div class="row">
                         <div class="mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div *ngIf="router.url.match('/people$')">
                                <div class="question-content">
                                    <div class="title title-font title-font-bg">
                                        Collaborators
                                            <svg-icon src="/assets/images/nouns/definition.svg" [stretch]="true"
                                                [svgStyle]="{'height.px':100,'padding.px':1,'margin.px':3}"></svg-icon>
                                    </div>
                                    <div class="question">
                                        <p>
                                            I  interviewed  activist-thinkers  involved  in  community  accountability  &  transformative  justice  work  for  the  “What  really  makes  us  safe?”  Project.  These  are  their  stories.  
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <router-outlet></router-outlet>                   
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="copyright">
            <div class="content-wrapper" style="text-align: center; padding-bottom: 48px;">
                <span class="copy">©</span>
                <script>document.write(new Date().getFullYear())</script> WRMUS
            </div>
        </div>
</main>

