
        <div class="sidebar-style">
            <div *ngIf="router.url.match('/movement/tj.*')">

                <a class="list-group-item" routerLink="/movement/tj/a" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 vcenter">
                            <svg-icon src="/assets/images/nouns/definition.svg" [stretch]="false"
                                      [svgStyle]="{'height.px':50}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8 vcenter">
                            Definitions
                        </div>
                    </div>
                </a>                
                <a class="list-group-item" routerLink="/movement/tj/b" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
                            <svg-icon src="/assets/images/nouns/genelogy.svg" [stretch]="false"
                                      [svgStyle]="{'height.px':50}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter">
                            Genealogies
                        </div>
                    </div>
                </a>   
                <a class="list-group-item" routerLink="/movement/tj/c" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
                            <svg-icon src="/assets/images/nouns/future.svg" [stretch]="false"
                                      [svgStyle]="{'height.px':50}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter">
                            Futures
                        </div>
                    </div>
                </a>                 
            </div>
            
            <div *ngIf="router.url.match('/movement/principles.*')">                            
                <a class="list-group-item" routerLink="/movement/principles/a" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vcenter">
                            <svg-icon src="/assets/images/nouns/ethos.svg" [stretch]="false"
                                      [svgStyle]="{'width.px':25}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
                            Ethos 
                        </div>
                    </div>
                </a>                
                <a class="list-group-item" routerLink="/movement/principles/b" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vcenter">
                            <svg-icon src="/assets/images/nouns/pcv.svg" [stretch]="false"
                                      [svgStyle]="{'width.px':25}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
                            People Causing Violence 
                        </div>
                    </div>
                </a>                
                <a class="list-group-item" routerLink="/movement/principles/c" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vcenter">
                            <svg-icon src="/assets/images/nouns/tough.svg" [stretch]="false"
                                      [svgStyle]="{'width.px':25}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
                            Concept of Responsibility
                        </div>
                    </div>
                </a>                                                                                        
                <a class="list-group-item" routerLink="/movement/principles/d" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vcenter">
                            <svg-icon src="/assets/images/nouns/pec.svg" [stretch]="false"
                                      [svgStyle]="{'width.px':25}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
                            People Experiencing Violence
                        </div>
                    </div>
                </a>
                <a class="list-group-item" routerLink="/movement/principles/e" >                                                    
                    <div class="row" style="align-items: center">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vcenter">
                            <svg-icon src="/assets/images/nouns/rtv.svg" [stretch]="false"
                                      [svgStyle]="{'width.px':25}">
                            </svg-icon>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
                            Response to Violence
                        </div>
                    </div>
                </a>                
            </div>
            
        </div>

       <div >
            <a style="color: white;border: none;pointer-events: none;" class="list-group-item" >What challenges have you faced?</a>
        </div>