<main>
    <div align="center">
        <div><h1>What <em>really</em> makes us safe?</h1>
            <!---
            <img src="src/assets/images/box.jpg" class="img-responsive" style="width:40%">            
            <img src="src/assets/images/box.jpg" class="img-responsive" style="width:40%">
            --->
            <br/>      
             <a routerLink="about" <!---class="list-group-item-->">
             <button class="btn" style="width:20%">North America</button>
             <button class="btn" style="width:20%">Germany</button></a>
        </div>
    </div>
</main>
