<main>
  <div style="display:flex;justify-content:center">
    <div class="mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 75px;">
      <div class="mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="mx-auto col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div *ngIf="router.url.match('/trans$')">
              <div class="container">

                <div class="question-content">
                  <div class="title title-font title-font-bg" style="display: block;">
                    Transnational Transformative Justice Roundtable
                  </div>

                </div>
                <style>
                  .embed-container {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    max-width: 100%;
                  }

                  .embed-container iframe,
                  .embed-container object,
                  .embed-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  }
                </style>
                <div class='embed-container'><iframe src='https://www.youtube.com/embed/fqLRg-bhJ2w' frameborder='0'
                    allowfullscreen></iframe></div>
                <div class="question" style="padding-top: 21px;">
                  <p>
                    Transnational Transformative Justice Roundtable at the 2019 National Women's Studies Association
                    Conference in San Francisco, California. A written, expanded version of this roundtable will be
                    published in a new volume on abolition feminism from Haymarket Books in 2021.
                  </p>
                  <p>
                    Erica Meiners (U.S. / Northeastern Illinois Univ, Sister Jean Hughes Adult High School)
                    Shirley Leslie (U.S. / Critical Resistance)
                    Mimi Kim (U.S. / Cal State Long Beach, INCITE! & Creative Interventions)
                    Kelsey Mohamed (UK / Cradle Community, Community Action on Prison Expansion)
                    Molly Rosabelle Ackhurst (UK / Birkbeck Univ. of London, Hollaback London)
                    Vanessa E. Thompson (Germany / Goethe University Frankfurt, Copwatch_ffm)
                    Melanie Brazzell (Germany & U.S. / UC Santa Barbara, What really makes us safe? Project)
                    Lauren V. Caulfield (Australia / Abolitionist & Transformative Justice Center)
                    Anne-lise Ah-fat (Australia / Undercurrent Community Education Project)
                  </p>
                  <p>
                    This roundtable brings together activists & scholars from various national contexts from the Global
                    North working on abolition and transformative justice, particularly in the fields of sexual,
                    interpersonal, and gender-based violence. The roundtable explores how these transformative justice
                    practitioners navigate the carceral state, as well as carceral feminism and queer punitivity, in
                    their local and national contexts. The roundtable invites panelists and the audience to share skills
                    and stories about community-based approaches to violence. What commonalities and differences show up
                    in international comparison when we map how transformative justice is being applied in different
                    communities?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="copyright" style="padding-top: 40px; padding-bottom: 40px;">
              <div class="content-wrapper" style="text-align: center;">
                <span class="copy">©</span>
                <script>document.write(new Date().getFullYear())</script> WRMUS
              </div>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>


</main>