<div class="col-sm-3 sidebar-offcanvas" id="coursessidebar">
        <div >
            <a class="list-group-item" routerLink="dev" >    Development</a> 
            <a class="list-group-item" routerLink="it" >     IT & Software </a>
            <a class="list-group-item" routerLink="office" > Office Productivity </a>
            <a class="list-group-item" routerLink="photo" >  Photography </a>
            <a class="list-group-item" routerLink="health" > Health and Fitness </a>
            <a class="list-group-item" routerLink="music" >  Music </a>
        </div>
</div>